@media screen and (max-width: 1024px) and (max-height: 600px) {
        
    .logo_hcmute {
        width: 5.5rem;
        height: 5.5rem;
    }
    
    .logo_bosch {
        width: 5.5rem;
        height: 5.5rem;
    }
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .taskbar {
        width: 4rem;
    }
    
    .taskbar .taskbar_icon {
        font-size: 2rem;
        width: 4.5rem;
        height: 4.5rem;
    }
    
    .taskbar .taskbar_icon i:hover {
        font-size: 2.3rem;
        width: 4.5rem;
        height: 4.5rem;
    }
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .speedometer {
        width: 26rem;
        height: 26rem;
    }
    
    .speedometer .speedometer--needle {
        width: 50%;
        height: 8.5rem;
    }
    
    .speed--fill {
        width: 12rem;
        height: 12rem;
    }

    .text--speed {
        font-size: 1.8rem;
    }

    .text--speed #speedvalue {
        font-family: 'DS-Digital', sans-serif;
        font-size: 6rem;
        /* margin-right: 4px; */
    }
    
    .temp {
        width: 8.8rem;
        height: 8.8rem;
    }
    
    .temp--fill {
        width: 3.872rem;
        height: 3.872rem;
    }
    
    .text--temp {
        font-size: 1.2rem;
    }
    
    .text--temp #tempvalue {
        font-size: 2.1rem;
    }
    
    .temp .temp--needle {
        height: 4.1rem;
    }
    
    .temp--fill .fi {
        font-size: 1.1rem;
    }

    .gear {
        width: 12.3rem;
        height: 12.3rem;
    }
    
    .rpm--fill {
        width: 5.8rem;
        height: 5.8rem;
    }
    
    .text--rpm {
        font-size: 0.95rem;
    }
    
    .text--rpm #rpmvalue {
        font-size: 5rem;
    }
    
    .gear .gear--needle {
        height: 5.06rem;
        top: 7%;
    }

    .fuel {
        width: 8.8rem;
        height: 8.8rem;
    }
    
    .fuel--fill {
        width: 3.52rem;
        height: 3.52rem;
    }
    
    .text--fuel {
        font-size: 1.1rem;
    }
    
    .text--fuel #fuelvalue {
        font-size: 2.1rem;
    }
    
    .fuel .fuel--needle {
        height: 3.45rem;
        top: 21%;
    }

    .fuel .icon-signal {
        justify-content: flex-end;
    }
    
    .icon-signal {
        font-size: 1rem;
    }   
    /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    #overlayBtn{
        top: 266px;
    }
  }

