@media screen and (max-width: 800px) and (max-height: 480px) {
    body {
        height: 100%;
        margin: 0px;
        padding: 0;
        display: grid;
        grid-template-rows: 10% 90%;
        align-content: center;
    }

    header {
      height: 100%;
      font-size: 1rem;
    }
  
    .row .col {
      flex-basis: 30%;
    }
  
    .date {
      justify-content: flex-start;
      font-size: 1rem;
    }
  
    .nofi{
        font-size: 1.5rem;
    }
    .nofi .account {
      height: 30px;
      width: 30px;
      justify-content: flex-end;
    }
  
    
    .logo_hcmute{
        width: 30px;
        height: 30px;
        background-color: white;
        background-image: url(hcmute.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 20px;
    }

    .logo_bosch{
        width: 30px;
        height: 30px;
        background-color: white;
        background-image: url(bosch.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 20px;
    }

    .container{
        width: 100%;
        height: 100%;
        display: grid;
        gap: 0rem;
        grid-template-columns: 6% 30% 64%;
        justify-items: center;
        align-items: center;
        align-content: center;
        background-color: rgb(247, 247, 247);
    }

    .taskbar {
        position: relative;
        height: 60vh;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* background-color: #87acd9a1; */
        border-radius: 50px;
        /* box-shadow: 5px 5px 15px #152b4a66,
        -6px -6px 10px rgba(255,255,255,1); */
    }
    
    .taskbar .taskbar_icon {
        font-size: 1.2rem;
        cursor: pointer;
        width: 30px;
        height: 30px;
        color: gray;
        padding: 0px;
        margin: 20px 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e5e4e4;
    }
    
    a {
        text-decoration: none;
    }
    /* .taskbar .taskbar_icon i{
        display: flex;
        justify-content: center;
    } */
    
    .taskbar .taskbar_icon i:hover{
        background-color: #f2f2f2;
        /* padding: 10px; */
        border-radius: 50%;
        /* margin-right: 2px; */
        font-size: 0.8rem;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
    }
    
    .taskbar .taskbar_icon.active{
        /* color: #6c9bdf; */
        color: white;
        background-color: grey;
        /* padding: 14px; */
    }

    #map {
        width: 97%;
        height: 98%;
        position: relative;
        border-radius: 40px;
        border: 15px solid #383838;
    }

    .ecu {
        width: 100%;
        height: 85vh;
        position: relative;
        /* border: 1px solid black; */
        display: grid;
        /* gap: 2rem; */
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        background-color: #383838;
        border-radius: 40px;
        align-content: space-around;
        gap: 2rem;
        /* border: 15px solid black; */
    }
    .info-car{
        position: relative;
        width: 150px;
        height: 90px;
        background-image: url("car.png");
        background-size: contain;
        background-repeat: no-repeat;
        /* border: 1px solid black; */
    }

    .parameter{
        display: grid;
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 2rem;
    }

    .speedometer{
        width: 130px;
        height: 130px;
        border: 2px solid white;
        border-radius: 50%;
        background-image: url("speedometer.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        box-shadow: 30px 30px 30px -20px rgba(255, 255, 255, 0.15);
    }
    
    .speedometer .speedometer--needle{
        width: 50%;
        height: 41.08px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;
        position: absolute;
        top: 18%;
        /* left: 50%; */
        z-index: 111;
        transform-origin: bottom;
        transform: rotate(-160deg);
        transition: 1s;
        clip-path: polygon(49% 0, 51% 0, 53% 100%, 47% 100%);
    }
    
    .speed--fill{
        position: absolute;
        width: 59px;
        height: 59px;
        background-color: black;
        border: 1px solid white;
        border-radius: 50%;
        z-index: 121;
    }
    
    .time{
        position: absolute;
        width: 31.2px;
        height: 13px;
        color: white;
        font-size: 1.5rem;
        z-index: 122;
        display: flex;
        flex-direction: row;
        font-family: 'DS-Digital', sans-serif;
        justify-content: center;
    }
    
    .text--speed{
        position: absolute;
        width: 39px;
        height: 13px;
        /* border: 1px solid white; */
        bottom: 39px;
        left: 44.98px;
        padding: 1.3px 0.455px;
        /* border-radius: 5px; */
        border-top: 1px solid white;
        /* background-color: #20526d;
        box-shadow: inset 0px 0px 10px 0px #fff; */
        z-index: 122;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        color: white;
        font-size: 0.6rem;
    }
    
    .text--speed .km{
        font-family: 'DS-Digital', sans-serif;
        font-size: 1rem;
        margin-right: 1.73px;
    }
    
    .gear_temp-fuel{
        display: flex;
        align-items: end;
    }
    
    .temp{
        width: 70px;
        height: 70px;
        border: 2px solid white;
        border-radius: 50%;
        background-image: url("coolanttemp.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        /* box-shadow: 30px 30px 30px -20px rgba(255, 255, 255, 0.15); */
        margin: 1px;
        top: 40px;
    }
    
    .temp--fill{
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #1f1a1766;
        border: 1px solid #646464;
        border-radius: 50%;
        z-index: 121;
        top: 64%;
    }
    
    .temp .temp--needle{
        width: 50%;
        height: 21.64px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;
        position: absolute;
        top: 40%;
        /* left: 50%; */
        z-index: 111;
        transform-origin: bottom;
        /* 0.875 - 1 - 0.125 */
        transform: rotate(0deg);
        transition: 1s;
        clip-path: polygon(49% 0, 51% 0, 53% 100%, 47% 100%);
    }
    
    .gear{
        width: 80px;
        height: 80px;
        border: 2px solid white;
        border-radius: 50%;
        background-image: url("rpm.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        /* box-shadow: 30px 30px 30px -20px rgba(255, 255, 255, 0.15); */
        margin: 1px;
    }
    
    .gear .gear--needle{
        width: 50%;
        height: 30px;
        border: 1px solid white;
        border-radius: 5px;
        background: white;
        position: absolute;
        top: 13%;
        /* left: 49.4%; */
        z-index: 111;
        transform-origin: bottom;
        /* transform: rotate(-180deg); DCNN:7.2deg */
        transform: rotate(3turn);
        transition: 1s;
        clip-path: polygon(49% 0, 51% 0, 53% 100%, 47% 100%);
    }
    
    .fuel{
        width: 70px;
        height: 70px;
        border: 2px solid white;
        border-radius: 50%;
        background-image: url("fuel.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        /* box-shadow: 30px 30px 30px -20px rgba(255, 255, 255, 0.15); */
        margin: 1px;
        top: 40px;
    }
    
    .fuel--fill{
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: #000;
        border: 1px solid #646464;
        border-radius: 50%;
        z-index: 121;
        top: 51%;
    }
    
    .fuel .fuel--needle{
        width: 50%;
        height: 22.91px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;
        position: absolute;
        top: 27.5%;
        /* left: 50%; */
        z-index: 111;
        transform-origin: bottom;
        /* transform: rotate(?deg); DCNN:?deg */
        /* 0.86 - 1 - 0.14 */
        transform: rotate(1turn);
        transition: 1s;
        clip-path: polygon(49% 0, 51% 0, 53% 100%, 47% 100%);
    }
    
    .icon-signal{
        width: 55%;
        position: absolute;
        bottom: 35%;
        display: flex;
        justify-content: flex-end;
        /* color: white; */
        font-size: 0.6rem;
        font-weight: 400;
        z-index: 99999;
    }
    
    .icon-signal .fi, .icon-signal .fa-solid{
        color: white;
    }
  }

